@model MoveMentor.Models.Trening

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Workout</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="DateTimeStart" class="control-label"></label>
                <input asp-for="DateTimeStart" class="form-control" />
                <span asp-validation-for="DateTimeStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateTimeEnd" class="control-label"></label>
                <input asp-for="DateTimeEnd" class="form-control" />
                <span asp-validation-for="DateTimeEnd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SportTypeId" class="control-label"></label>
                <select asp-for="SportTypeId" class="form-control" asp-items="@ViewBag.SportTypeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Comment" class="control-label"></label>
                <textarea asp-for="Comment" class="form-control"></textarea>
                <span asp-validation-for="Comment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
