@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Discover MoveMentor today!</h1>
    <br />
    <h5>Experience a new level of workouts with MoveMentor! Our platform offers a wide selection of training options for everyone who wants to actively spend their time and prioritize their health. With MoveMentor, you can easily find and sign up for workouts tailored to your preferences and fitness level. Choose from various sports disciplines, including fitness, gym workouts, cycling, running, and group classes. Plus, each user can add their own discipline. Our intuitive platform enables easy management of your workouts and tracking your progress. Join the MoveMentor community today and unlock new possibilities for an active lifestyle!</h5>
    
</div>
