@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<h4>Data Collection: We explain what personal information we collect from users, such as name, email address, demographic data, etc.</h4>
<h4>
    Use of Data: We describe how we use the collected data, such as providing services, personalizing user experience, analyzing statistics, etc.</h4>
<h4>Data Sharing: We clarify whether and how we share user data with third parties, such as partners, service providers, or advertisers.</h4>
<h4>Data Security: We outline the measures we take to ensure the security of user data, including encryption, access controls, and regular security audits.</h4>
<h4>User Rights: We inform users about their rights regarding their personal data, such as accessing, correcting, or deleting their information.</h4>